In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

## Question 1

In [3]:
np.__version__

'1.19.2'

In [4]:
data = pd.read_csv("data.csv")

## Question 2

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

## Question 3

In [20]:
data["Make"].value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

## Question 4

In [60]:
data[data["Make"] == "Audi"].apply(pd.Series.nunique, axis=1)

17       16
18       16
19       16
20       16
21       16
         ..
10901    16
10902    16
11178    16
11179    16
11180    16
Length: 328, dtype: int64

## Question 5

In [55]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question 6

In [33]:
data["Engine Cylinders"].median()

6.0

In [29]:
data["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [31]:
a = data["Engine Cylinders"].fillna(4.0)

In [32]:
a.median()

6.0

## Question 7

In [38]:
a = data[data["Make"] == "Lotus"][["Engine HP", "Engine Cylinders"]]

In [41]:
b= a.drop_duplicates()

In [45]:
b

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [46]:
x = b.to_numpy()

In [47]:
x

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [49]:
xtx = np.matmul(x.transpose(),x)

In [50]:
inv = np.linalg.inv(xtx)

In [51]:
y = np.array([1100,800,750,850,1300,1000,1000,1300,800])

In [53]:
c = np.matmul(inv,x.transpose())

In [54]:
np.matmul(c,y)

array([  4.59494481, -63.56432501])